* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu-container{
    padding: 20px 0px;
    color: #fff;
    background-color: #5995DA;
    /* Se le indica al navegador que todo el contenido se debe renderizar con flexbox */
    display: flex;
    /* Una vez definido display flex, se indica como se va a centrar */
    justify-content: space-around;
}

.menu{
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    justify-content: flex-end;
}

.login{
    margin-left: 20px;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-grid-container{
    display: flex;
    justify-content: center;

}

.photo-grid{
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 7px;
    flex-direction: row;
    /* row-reverse: cambia el orden o invierte el orden de izquierda a derecha por defecto, de derecha a izquierda*/
    /* flex-direction: row-reverse; */
    /* Alinear las imagenes verticalmente el aling-items gira igual q el justify-content*/
    /* flex-direction: column;
    align-items: center; */
}

.photo-grid-item {
    border: 1px solid white;
}

.first-item{
    order: 1;
}

.last-item{
    order: -1;
}

.social,
.subscribe{
    align-self: flex-end;
}

.subscribe{
    margin-bottom: 21px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-item {
  border: 1px solid #fff;
  background-color: #D6E9FE;
  height: 200px;
  flex: 1;
}

.footer-one,
.footer-three {
  background-color: #5995DA;
  flex: initial;
  width: 300px;
}

.signup {
  margin-left: auto;
}   